# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE / editor files
.idea/
.vscode/
*.swp
*.swo

# Qt / build artifacts
*.qmlc
*.rcc
*.qrc
*.moc

# OS files
.DS_Store
Thumbs.db

models/
db/
